.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

/*MENY*/
ul {
  grid-column: 1/-1;
  grid-row: 1/2;
}

/*JAVA SCRIPT / BIDLSPEL*/
.slideshow-container{
  grid-column: 1/-1;
  grid-row: 2/3;
}

.dotrow{
  grid-column: 1/-1;
  grid-row: 2/3;
}
/* SLUT PÅ JAVASCRIPT*/

/*FÖRSTA SIDAN*/
h2 {
  grid-column: 2/3;
  grid-row: 3/4;
}

p{
  grid-column: 4/5;
  grid-row: 3/4;
}


/*KONTAKTUPPGIFTER*/
h4{
  grid-column: 1/-1;
  grid-row: 5/6;
}
ol{
  grid-column: 1/-1;
  grid-row: 7/8;
}

#iconlist{
  grid-column: 1/-1;
  grid-row: 6/7;
}
