* {
  margin: 0;
  padding: 0; /*Tar bort margin och padding om inget annat anges i koden*/
}

.container{
  margin-top: 5vh; /*Grid börjar en bit ner på sidan*/
}

/*MENYN*/
ul {
  list-style-type: none; /*Tar bort plupparna på listan*/
  padding-left: 10%;
  position: fixed; /*Gör så att menyn följer med när man scrollar*/
  top: 0;
  width: 100%;
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: center; /*Gör så att texten hamnar i mitten av menyn*/
  height: 5vh;
  z-index: 1; /*lägger menyn längst fram*/
}

.meny {
  float: left; /*Texten i menyn lägger sig bredvid varandra*/
  font-family: "Alegreya sans sc";
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-items: center; /*Lägger texten i menyn på en rak linje*/
}

li a {
  text-decoration: none; /*Tar bort strecket under länken*/
  color: black;
}

li a:hover {
  color:rgb(180, 180, 180); /*Länken blir ljusgrå när man håller muspekaren över texten*/
}

/*JAVASPRCIPT / BILDSPEL*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: "Alegreya sans sc";
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/*SLUT PÅ JAVASCRIPT*/

/*FÖRSTA SIDAN*/
#h2nr1{
  font-family: "Alegreya sans sc";
  background-color: rgb(28, 117, 156);
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 2%;
  margin-top: 9%;
}

#pnr1 {
  font-family: "Alegreya sans sc";
  background-color: rgb(28, 117, 156);
  color: white;
  padding: 3%;
  margin-bottom: 9%;
}

#tradbild, #fonsterbild, #maskinbild{
  width: 100%;
  margin-top: 2%;
  border: 2px white solid;
}

#topplank{
  display: flex;
  color: black;
  font-family: "Alegreya sans sc";
  justify-content: center;
  margin: 9%;
}

/*SLUT PÅ FÖRSTA SIDAN*/

/*ANDRA SIDAN*/
#h2nr2{
  font-family: "Alegreya sans sc";
  background-color: rgb(30, 93, 124);
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 1%;
  padding: 1%;
}

#pnr2{
  font-family: "Alegreya sans sc";
  color: black;
  margin-bottom: 3%;
  padding: 3%;
}

h5{
  font-family: "Alegreya sans sc";
  background-color: rgb(28, 117, 156);
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

#pnr3, #pnr4, #pnr5 {
  font-family: "Alegreya sans sc";
  background-color: rgb(28, 117, 156);
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  margin-bottom: 9%;
}

#externlank{
  color: white;
}

#bild2sid{
  width: 100%;
}


/*KONTAKTUPPGIFTER*/
h4{
  background-color: rgb(30, 93, 124);
  color: white;
  font-family: "Alegreya sans sc";
  display: flex;
  justify-content: center; /*Gör så att texten hamnar i mitten*/
  align-items: center; /*Lägger texten i mitten av grid-rutan*/
  font-size: 150%;
  padding: 1%;
}

ol{
  list-style-type: none; /*Tar bort plupparna på listan*/
  bottom: 0;
  background-color: rgb(30, 93, 124);
  color: white;
  display: flex;
  justify-content: space-between; /*Gör så att texten får lika mycket utrymme mellan sig*/
  padding-left: 5%;
  padding-right: 5%;
  align-items: baseline;
}

.kontakt{
  font-family: "Alegreya sans sc";
}

#iconlist{
  background-color: rgb(30, 93, 124);
  justify-content: space-between;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

.material-icons{
  font-size: 250%;
}

/*SLUT PÅ KONTAKTUPPGIFTER*/



/*DROP DOWN MENY*/

/* Dropdown Button */
.dropbtn {
  background-color: rgb(164, 164, 164);
  color: white;
  padding: 10%;
  border: none;
  display: none; /*visas inte när sidan är större än 725px*/
  margin-bottom: 5%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  z-index: 1;
  font-family: "Alegreya sans sc";
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(117, 117, 117);}


@media only screen and (max-width: 725px){
  ul{
   display: none; /*menyn försvinner när sidan blir mindre än 725px*/
  }

  .dropbtn{
    display: block; /*visar dropdown menyn när sidan blir mindre än 725px*/
  }

  .container{
    margin-top: 0;
  }

  #h2nr1{
    margin-top: 5%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  #pnr1{
    margin-top: 0;
    margin-bottom: 5%;
    margin-left: 0;
    margin-right: 0;
  }

  #h2nr2{
    margin-top:0;
  }
}
