* {
  margin: 0;
  padding: 0; /*Tar bort margin och padding om inget annat anges i koden*/
}

/*MENYN*/
ul {
  list-style-type: none; /*Tar bort plupparna på listan*/
  padding-left: 10%;
  position: fixed; /*Gör så att menyn följer med när man scrollar*/
  top: 0;
  width: 100%;
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: center; /*Gör så att texten hamnar i mitten av menyn*/
}

.meny {
  float: left; /*Texten i menyn lägger sig bredvid varandra*/
  font-family: Alegreya sans sc;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-items: center; /*Lägger texten i menyn på en rak linje*/
}

li a {
  text-decoration: none; /*Tar bort strecket under länken*/
  color: black;
}

li a:hover {
  color:rgb(180, 180, 180); /*Länken blir ljusgrå när man håller muspekaren över texten*/
}

/*JAVASPRCIPT / BILDSPEL*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: Alegreya sans sc;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*SLUT PÅ JAVASCRIPT*/

/*FÖRSTA SIDAN*/
h2{
  font-family: Alegreya sans sc;
  background-color: rgb(28, 117, 156);
  color: white;
  padding-top: 20%;
  padding-left: 33%;
}

p {
  font-family: Alegreya sans sc;
  background-color: rgb(28, 117, 156);
  color: white;
  padding: 5%;
}



/*KONTAKTUPPGIFTER*/
h4{
  background-color: rgb(30, 93, 124);
  color: white;
  font-family: Alegreya sans sc;
  display: flex;
  justify-content: center; /*Gör så att texten hamnar i mitten*/
  align-items: center; /*Lägger texten i mitten av grid-rutan*/
  font-size: 150%;
}

ol{
  list-style-type: none; /*Tar bort plupparna på listan*/
  bottom: 0;
  background-color: rgb(30, 93, 124);
  color: white;
  display: flex;
  justify-content: space-between; /*Gör så att texten får lika mycket utrymme mellan sig*/
  padding-left: 5%;
  padding-right: 5%;
  align-items: baseline;
}

.kontakt{
  font-family: Alegreya sans sc;
}

#iconlist{
  background-color: rgb(30, 93, 124);
  justify-content: space-between;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

.material-icons{
  font-size: 250%;
}
